.app {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

@media (min-width: 769px) {
  .overlay {
    display: none;
  }
}