.chat-history {
  margin-top: 20px;
  overflow-y: auto;
  flex: 1;
}

.history-title {
  font-size: 20px;
  color: #03454e;
  margin-bottom: 8px;
}

.history-item {
  padding: 8px 10px;
  border-radius: 6px;
  color: #ccc;
  cursor: pointer;
  font-size: 14px;
}

.history-item:hover {
  background: #1f1f1f;
  color: white;
}
